:root {
    --font-family: 'Roboto', sans-serif;

    --black-color: #191C1F;
    --dark-gray-color: #5E646A;
    --gray-color: #83898F;
    --mid-gray-color: #C2C8CD;
    --light-gray-color: #ECEFF2;
    --extralight-gray-color: #F6F8FA;
    --white-color: #FFFFFF;
    --dangerous-color: #F13636;
    --green-success-color: #25CD82;
    --primary-disabled-color: #ABCAE6;
    --primary-color: #2A6CEA;
    --primary-hover-color: #397DFF;

    --headline-one: 52px;
    --headline-two: 40px;
    --headline-three: 32px
    --headline-four: 24px;
    --headline-five: 20px
    --headline-six: 16px

    --font-size-s: 12px;
    --font-size-m: 14px;
    --font-size-l: 16px;
    --font-size-xl: 18px;
}