@import '@/app/styles/media-queries.scss';

.li {
    width: 100%;
};

.btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black-color);
    font-weight: 600;
    font-size: var(--font-size-xl);
    height: 70px;
    border-top: 1px solid var(--light-gray-color);
    background-color: inherit;
    text-align: left;

    &:hover {
        color: var(--primary-color);

        svg {
            path {
                fill: var(--primary-color);
            };
            circle {
                stroke: var(--primary-color);
            };
        };
    };

    @include mobile-l {
        height: 100px
    }
};

.question {
    @include mobile-l {
        width: 88%;
    }
}

.answer {
    font-size: var(--font-size-xl);
    color: var(--dark-gray-color);
    line-height: 32px;
    width: 90%;
    padding: 0 0 25px 0;
};