.section {
    width: 1280px;
    height: 450px;
    display: flex;
    margin: auto;
    gap: 80px;
}

.text_block {
    width: 600px;
}

.image_block {
    position: relative;

    img {
        width: 600px;
        position: absolute;
    }
}

.text {
    line-height: 28px;
}