@import '@/app/styles/media-queries.scss';

.section {
    width: 1280px;
    height: 450px;
    display: flex;
    margin: auto;
    gap: 80px;

    @include tablet-l {
        width: 730px;
        height: 265px;
        gap: 20px;
    }

    @include mobile-l {
        width: 342px;
        flex-direction: column-reverse;
    }
}

.text_block {
    width: 600px;

    @include tablet-l {
        width: 350px;
    }
}

.title {
    font-size: var(--headline-five);
}

.image_block {
    position: relative;

    img {
        width: 600px;
        position: absolute;   
        
        @include tablet-l {
            width: 350px;
        }

        @include mobile-l {
            width: 342px;
        }
    }
}

.text {
    line-height: 28px;
}