@import '@/app/styles/media-queries.scss';

.main {
    width: 280px;

    @include tablet-l {
        width: 342px;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
    }
}

.text {
    line-height: 24px;
}