.form_group {
    position: relative;

    .input {
        height: 64px;
        padding: 27px 10px 3px 10px;
        display: block;
        border: 2px solid var(--extralight-gray-color);
        border-radius: 4px;
        background-color: var(--extralight-gray-color);
        font-size: var(--font-size-xl);
        color: var(--black-color);

        &::placeholder {
            color: var(--mid-gray-color);
        }

        &:focus {
            outline: none;
            background-color: var(--white-color);
            border-color: var(--mid-gray-color);
        }

        &:focus ~ .label,
        &:not(:placeholder-shown) ~ .label {
            top: 10px;
            left: 10px;
            height: max-content;
            font-size: var(--font-size-m);
            background-color: var(--white-color);
        }
    }

    .label {
        position: absolute;
        top: 24px;
        left: 5px;
        height: 32px;
        padding: 0 5px;
        background-color: var(--extralight-gray-color);
        color: var(--dark-gray-color);
        font-size: var(--font-size-xl);
        transition: top 0.2s, left 0.2s, font-size 0.2s;
        pointer-events: none;
    }

    .helper_text {
        font-size: var(--font-size-s);
        color: var(--dangerous-color);
    }
}
