.main {
    width: 341px;
    height: 316px;
    background: var(--white-color);
    border-radius: var(--border-radius-m);
    padding: 20px;
};

.review {
    line-height: 24px;
};

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
};
