@import '@/app/styles/media-queries.scss';
@import '@/app/styles/mixin.scss';

.section {
    background: var(--extralight-gray-color);
    padding: 40px 0;
};

.main {
    @include section-styles;
};

.carousel {
    display: flex;
    align-items: center;
};

.reviews_container {
    overflow: hidden;
    width: 1023px;
    margin: auto;

    @include tablet-l {
        width: calc(341px * 2);
    };

    @include mobile-l {
        width: 341px;
    }
};

.reviews {
    display: flex;
    transition: transform 0.5s ease-in-out;
};

.btn {
    padding: 16px;
    user-select: none;
    background-color: inherit;

    svg path {
        fill: var(--primary-color)
    };

    @include tablet-l {
        display: none;
    };
};

.disabled_btn {
    pointer-events: none;
    
    svg path {
        fill: var(--mid-gray-color)
    }
};

.pagination {
    text-align: center;
    padding: 10px 0;

    span {
        cursor: pointer;
        width: 8px;
        height: 8px;
        margin: 0 2px;
        background-color: var(--mid-gray-color);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;

        &:hover {
            background-color: var(--primary-hover-color);
        }
    };

    .active {
        background-color: var(--primary-color);
    };
};
