@import '@/app/styles/media-queries.scss';
@import '@/app/styles/mixin.scss';

.section {
    width: 1008px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 48px;

    @include tablet-l {
        width: 727px;
    }

    @include mobile-l {
        width: 342px;
    }

    @include mobile-m {
        width: 288px;
    }
}

.title {
    @include mobile-l {
        font-size: var(--headline-four);
    }
}
