@import '@/app/styles/media-queries.scss';

.section {
    background: var(--extralight-gray-color);
    padding: 40px 0;
}

.contant {
    width: 1280px;
    flex-wrap: wrap;
    background: inherit;
    margin: auto;

    @include tablet-l {
        width: 728px;
    }

    @include mobile-l {
        width: 342px;
    }
}