@import '@/app/styles/media-queries.scss';
@import '@/app/styles/mixin.scss';

.section {
    background: var(--extralight-gray-color);
    padding: 40px 0;
}

.contant {
    @include section-styles;
    flex-wrap: wrap;
    background: inherit;
}